version: '3.8'

services:
  riff-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: riff-api
    restart: unless-stopped
    expose:
      - "8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
    env_file:
      - .env
    networks:
      - web-network

networks:
  web-network:
    external: true